

body {
    color:white;
    background: rgb(32, 3, 37);
    margin: 0px;
    font-family:  "Protest Strike", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(142, 71, 175);
    padding: 20px;
    font-size: 32px;
    color: rgb(132, 107, 202);
}

.chamada {
    background: rgb(127, 73, 179);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(173, 73, 231);
}

.categoria h2 {
    color: rgb(96, 60, 226);
}

.categoria-videos{

    display: flex;
    overflow-x: auto;
    gap: 10px;

}
.categoria {
 
    padding-left:20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img { 

    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid ghostwhite;
}

.categoria h2 {
  color: rgb(135, 80, 199);

}
